.process {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem;
}

.process_main_header {
    color: white;
    font-size: 1.5em;
    z-index: 9;
}

.process_main-container {
    position: relative;
    z-index: 10;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
