.offscreen_circle-container {
    position: absolute;
    border: 2px solid var(--honey-flower);
    z-index: 1;
    width: 800px;
    height: 750px;
    border-radius: 50%;
    left: 60%;
    background: radial-gradient( circle, rgba(252, 176, 69, 1) 0%, rgba(253, 29, 29, 1) 25%, rgba(109, 30, 113, 1) 100%);
}