.services {
    width: 90vw;
    margin: auto;
    position: relative;
    z-index: 3;
}

.section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--roman), var(--cream-can));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-container {
    display: flex;
    flex-direction: column;
}

.consulting_service {
    display: flex;
    justify-content: flex-end;
}

.web_service {
    width: 50%;
}

.additional_service {
    display: flex;
    justify-content: flex-end;
}

.consulting_service>.list_rend-container {
    width: 35%;
}

.web_service>.list_rend-container {
    width: 50%;
}

.additional_service>.list_rend-container {
    width: 50%;
}