.services {
    width: 90vw;
    margin: auto;
    position: relative;
    z-index: 3;
}

.section_header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--roman), var(--cream-can));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.consulting_service {
    display: flex;
    /* justify-content: flex-end; */
}

.additional_service {
    display: flex;
    /* justify-content: flex-end; */
}